<h1>Color Palette Test</h1>

<h2>progresses</h2>

<h3>supported input formats</h3>
<ul>
	<li>RGB</li>
	<li>CMYK</li>
	<li>HSV</li>
	<li>LAB</li>
</ul>

<h3>supported output formats</h3>
<ul>
	<li>.gpl (GIMP)</li>
	<li>.aco (Photoshop)</li>
	<li>.ai (Illustrator)</li>
	<li>.html</li>
	<li>.css</li>
	<li>.design.xml (Expression Design)</li>
	<li>.wpf.xaml (WPF)</li>
	<li>.silverlight.xaml (Silverlight)</li>
	<li>.paint.net.txt (Paint.NET)</li>
	<li>.psp.pal (Paint Shop Pro)</li>
	<li>.colors (KOffice)</li>
	<li>.spl (Skencil)</li>
	<li>.scribus.xml (Scribus)</li>
	<li>.soc (OpenOffice.org)</li>
	<li>.skp (sK1)</li>
	<li>.acf (Aldus/Adobe PageMaker + Aldus/Macromedia/Adobe Freehand + Adobe FrameMaker)</li>
	<li>.hpl (Allaire Homesite / ColdFusion)</li>
	<li>.coreldraw4.pal (CorelDRAW 4)</li>
	<li>.act (Adobe Color Table)</li>
	<li>.acbl (ACBL (Adobe Color Book Legacy) Adobe Creative Suite 3)</li>
</ul>

<h2>examples</h2>

<ul>
	<li><a href="/palette/download.acf?rgb=111111|666666|999999|aaaaaa|cccccc|dddddd|fa1265|12ff34|56aa89">/palette/download.acf?rgb=111111|666666|999999|aaaaaa|cccccc|dddddd|fa1265|12ff34|56aa89</a></li>
	<li><a href="/palette/download.gpl?rgb=ff9900|ff0000|ff00ff">/palette/download.gpl?rgb=ff9900|ff0000|ff00ff</a></li>
	<li><a href="/palette/download.gpl?rgb=255.00,255.00,255.00|255.00,255.00,255.00">/palette/download.gpl?rgb=255.00,255.00,255.00|255.00,255.00,255.00</a></li>
	<li><a href="/palette/download.gpl?cmyk=100,100,100,100|100,100,100,100">/palette/download.gpl?cmyk=100,100,100,100|100,100,100,100</a></li>
</ul>